<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="http://getbootstrap.com/dist/favicon.ico">

	<title>月亮之上</title>

	<!-- Bootstrap core CSS -->
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="http://getbootstrap.com/dist/css/album.css" rel="stylesheet">
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a class="navbar-brand" href="#" onclick="history.back();">返回</a>
			<a class="navbar-brand" href="#">月亮之上</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>



			<div class="collapse navbar-collapse" id="navbarsExample03">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item active">
						<a class="nav-link" href="/home">Home
							<span class="sr-only">(current)</span>
						</a>
					</li> -->
					<li class="nav-item active">
						<a class="nav-link" href="/house/list/0/0">已上线</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/house/list/{{tel}}/0/0">我发布的</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/house/new">发布</a>
					</li>

				</ul>
				<form class="form-inline my-2 my-md-0" method='get' onsubmit="search(this);" action='/house/search/_X_/0/0'>
					<input class="form-control" type="text" name='q' value='{{q}}' placeholder="关键字词">
				</form>
			</div>
		</nav>

	</header>

	<main role="main">
		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row">
					{% for h in houses %}
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<div class="container">
								<div class="row">
									<div class="col-5">
										<a href='/house/house/{{h._id}}'>
											{% if h.photo%}
											<img class="card-img-overlay pull-left" src="data:image/jpg;base64{{h.photo}}" /> {% else %}
											<img class="card-img-overlay pull-left" data-src="holder.js/50px110?theme=thumb&bg=55595c&fg=eceeef&text=暂无" alt="Card image cap"> {% endif %}
										</a>
									</div>
									<div class="col-7">
										<!-- <div class="card-body">
											<span class="card-text">
												{{h.community}}
											</span>
										</div> -->


										<div class="card-body">
											{% set indx=0 %} {% for code, v in h %} {% if code in fields%} {% if indx%2==0 %}
											<p>{% endif%}
												<span class="card-text">{{fields[code]['name']}}:{{v}}</span>
												{% if indx%2==0 %}</p>{% endif%} {% set indx= indx+1 %} {% endif %} {% endfor %}
											<span class="card-text">{{h.other}}</span>

											<div class="d-flex justify-content-between">
												<!-- <div class="float-right">
														<a href='/house/list/{{h.user}}/0/0' class="btn btn-sm btn-outline-secondary">{{h.user}}</a>
								
													</div> -->
												<div class="">
													{% if h.favorite%}
													<small class="text-muted" onclick="favor('{{h._id}}',this)">已收藏</small>
													{% else %}
													<small class="text-muted" onclick="favor('{{h._id}}',this)">收藏</small>
													{% endif %}
												</div>
												<div class="">
													{% if online %} {% if h.status==1 %}
													<small class="text-muted" onclick="online('{{h._id}}',this)">已上线</small>
													{% else %}
													<small class="text-muted" onclick="online('{{h._id}}',this)">未上线</small>
													{% endif %} {% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>




		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">

				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1"> 共{{page_total}}页</a>
				</li>
				<li class="page-item disabled">
					<span class='page-link'>第{{page_current}}页</span>
				</li>
				<li class="page-item {% if page_current==1 %}disabled{% endif %}">
					<a class="page-link" href="{{pre}}" tabindex="-1">上一页</a>
				</li>
				<!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->

				<!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
				<li class="page-item {% if page_current==page_total %}disabled{% endif %}">
					<a class="page-link" href="{{nex}}">下一页</a>
				</li>
			</ul>
		</nav>
	</main>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">月亮之上@2018</span>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/holder.min.js"></script>
	<script src="/static/js/house.js"></script>
</body>

</html>