<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<!-- Optional JavaScript -->

	<title>图片</title>
</head>

<body>
	<header>

		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a class="navbar-brand" href="#" onclick="history.back();">返回</a>
			<a class="navbar-brand" href="#"  >月亮之上</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample03">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item active">
								<a class="nav-link" href="/home">Home
									<span class="sr-only">(current)</span>
								</a>
							</li> -->
					<li class="nav-item active">
						<a class="nav-link" href="/house/list/0/0">已上线房源</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/house/list/{{tel}}/0/0">我发布的</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/house/new">发布</a>
					</li>

				</ul>
				<form class="form-inline my-2 my-md-0" method='get' onsubmit="search(this);" action='/house/search/_X_/0/0'>
					<input class="form-control" type="text" name='q' value='{{q}}' placeholder="小区名搜索">
				</form>
			</div>
		</nav>
	</header>
	<section class="section">
		<div id="box"></div>
		<div class="col-md-8">
			<div class="card mb-4 box-shadow">
				<div class="card-body">
					<span class="card-text">{{h.community}}</span>
				</div>
				{% if h.photo%}
				<img class="card-img-top" src="data:image/jpg;base64{{h.photo}}" /> {% else %}
				<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=暂无" alt="Card image cap"> {% endif %}
				<div class="card-body">
					{% set indx=0 %}
					{% for code, v in h %} {% if code in fields%}
						{% if indx%2==0 %}<p>{% endif%}
						<span class="card-text">{{fields[code]['name']}}:{{v}}</span>
						{% if indx%2==0 %}</p>{% endif%}
						{% set indx= indx+1 %}
					{% endif %} {% endfor %}
					<span class="card-text">{{h.other}}</span>
				</div>
				<div class="d-flex justify-content-between align-items-center">
					<div class="float-right">
						<a href='/house/list/{{h.user}}/0/0' class="btn btn-sm btn-outline-secondary">{{h.user}}</a>

					</div>
					{% if h.favorite%}
					<small class="text-muted" onclick="favor('{{h._id}}',this)">已收藏</small>
					{% else %}
					<small class="text-black" onclick="favor('{{h._id}}',this)">收藏</small>
					{% endif %} {% if h.status==1 %}
					<small class="text-muted" onclick="online('{{h._id}}',this)">已上线</small>
					{% else %}
					<small class="text-black" onclick="online('{{h._id}}',this)">未上线</small>
					{% endif %}

				</div>
			</div>
		</div>
		<footer class="text-muted">
			<div class="container">
				<p class="float-right">
					<a href="#" onclick="history.back();" class="btn btn-sm btn-outline-secondary">返回</a>
				</p>
			</div>
		</footer>

	</section>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/holder.min.js"></script>
	<script src="/static/js/house.js"></script>
</body>

</html>